<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BayesClassifier.Properties.Settings.Bayes_classConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;C:\Dokumente und Einstellungen\ge2513\my documents\Bayes_class.mdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>